{% extends "base.html" %}


{% block body %}

<div class="container">
<section>

<h1 class="title">Doctor Management</h1>

<!-- ================= FORM ================= -->
<div class="card">

<form action="" method="POST" >
  {% csrf_token %}

  <div class="row">
    <div class="col-6">
      <label for="name">Doctor Name</label>
      <input type="text" id="name" name="name" placeholder="Enter full name" required>
             
    </div>

    <div class="col-6">
      <label for="specialty">Specialty</label>
      <select id="specialty" name="specialty_id" required>

        <option value="" disabled selected>Select specialty</option>

        {% for i in doctors %}
        
        <option value="{{i.id}}">{{i.Specialization}}</option>

        {% endfor %}


      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <label for="phone">Phone Number</label>
      <input type="tel" id="phone" name="phone" placeholder="+1234567890" required>
             
    </div>

    <div class="col-6">
      <label for="email">Email Address</label>
      <input type="email" id="email" name="email"  placeholder="doctor@example.com" required>
            
    </div>
  </div>

    <div class="row">


    <div class="col-6">
      <label for="specialty">Department</label>
      <select id="specialty" name="department_id" required>
        <option value="" disabled selected>Select Department</option>

        {% for i in departments %}

        <option value="{{i.id}}">{{i.DepartmentName}}</option>

        {% endfor %}

      </select>
    </div>
  </div>

  <button type="submit">Add Doctor</button>

</form>

</div>

<!-- ================= TABLE ================= -->
<div class="table-box">
<table>
<tr>
  <th>SL</th>
  <th>Name</th>
  <th>Specialty</th>
  <th>Phone</th>
  <th>Email</th>
  <th>Department</th>
  <th>Action</th>
</tr>

{% for i in doctors %}
<tr>
  {% comment %} <td colspan="6" class="empty">No doctors added yet.</td> {% endcomment %}
  <td>{{forloop.counter}}</td>
  <td>{{i.DoctorName}}</td>
  <td>{{i.Specialization}}</td>
  <td>{{i.Phone}}</td>
  <td>{{i.Email}}</td>
  <td>{{i.department}}</td>
  <td>
        <a href="" style="text-decoration: none;">Edit |</a>
        <a href="" style="text-decoration: none;">Delete |</a>
        <a href="" style="text-decoration: none;">View</a>
  </td>
</tr>
{% endfor %}
</table>
</div>

</section>
</div>

{% endblock body %}